$color-primario: rgb(5, 46, 46);
$color-primario-alt: rgba(6, 81, 81, 0.721);
$color-secundario: rgba(245, 238, 220, 0.942);
$color-white: #FeFefe;

$font-title: 'Nerko One', cursive;
$font-text: 'Roboto', sans-serif;

//hola